<html>

  
  <h1>Customer Information</h1>
  <body> 
  <fieldset>
  <legend>Personal Information</legend>
  ID No. : <%= users.id %><br>  
  Name : <%= users.first %> <%= users.last %><br>
  Gender : <%= users.gender %> <br>
  Age : <%= users.age %> <br>
  </fieldset><br><br>

  <fieldset>
  <legend>Contact Information</legend>
  Phone Number : <%= users.phone %><br>
  Email Id : <%= users.email %><br>
  </fieldset>


  
  </body>

    

</html>